body {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}


#visualization{
	margin-top: 30px;
}

div.text.major {
  display:none;
}

.vis.timeline .item {
  border-radius: 0 ! important;
  border-width:0;
}

/* colors for group */
.vis.timeline .g01 .item {
  background-color:#ffc107; 
}
.vis.timeline .g01 .item.selected {
  background-color:#ffa000; 
}

.vis.timeline .g02 .item {
  background-color:#ffc107; 
}
.vis.timeline .g02 .item.selected {
  background-color:#ffa000; 
}

.vis.timeline .g03 .item {
  background-color:#03a9f4; 
}
.vis.timeline .g03 .item.selected {
  background-color:#0288d1; 
}

input.item-name {
  border: 1px solid black;
  background: transparent;
}

div.timetable-device {
  display: block;
  height: 85px;
  width: 85px;
}

div.timetable-device div.colorsel {
  width:15px;
  height: 15px;
  border-radius: 7.5px;
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  border:1px solid;
  border-color: #ccc ! important;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

div.timetable-device div.icon {
  padding-top: 10px;
  font-size: 40px;
  text-align: center;
}

div.timetable-device div.devicename {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: -5px;
}

div.item.box.on, div.item.box.off, div.item.box.toggle {
	font-family: 'Glyphicons Halflings' ! important;
  background-color: #e0e0e0 ! important;
  border-color: #ccc ! important;
  font-size: 12px ! important; 
	width: 28px ! important;
  border-radius: 3px ! important;
  border: 1px solid;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  line-height: 1.5;
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  text-shadow: 0 1px 0 #fff;
}

div.item.on.selected, div.item.selected.off, div.item.selected.toggle {
  background-color: #D6D6D6 ! important;
  border-color: #dbdbdb;
  background-image: none;
}

div.item.box.on:before, .icon-action-on:before {
	content: "\e017" ! important;
	color:green ! important;
}
div.item.box.off:before, .icon-action-off:before{
	content: "\e017" ! important;
	color:red ! important;
}
div.item.box.toggle:before, .icon-action-toggle:before{
	content: "\e031";
	color: #000 ! important;
}

div.item.range.duration {
 font-family: 'Glyphicons Halflings' ! important;
 min-width: 24px ! important;
 text-align: center;
 box-shadow: inset 0 3px 5px rgba(0,0,0,.125) ! important;
 border-radius: 3px ! important;
}

div.item.range.duration:before, .icon-action-duration:before{
  content: "\e120";
  color: #000000 ! important;
}

.vis.timeline div.group div.background {
	opacity: 0.3;
	z-index: 0;
}

#popover-placement {
  display: none;
}


.bootstrap-timepicker, .item-form-duration  {
  width: 133px ! important;
}

.row-popover {
  margin-bottom: 10px;
}

.input-xs {
  height: 22px;
  padding: 5px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}




h3.popover-title span {
  margin-top: -3.5px;
}

/* mobile */
#edit-item-addbuton, #edit-item-delbutton {
  min-width: 133px;
}

.edit-item-delarea, .edit-item-addarea {
  margin-top: 18px;
}




/** color selector **/
.popover-color {
  width: 140px ! important;
  height: 165px ! important;
  left: +12px ! important;
}
.popover-color .popover-content {
  padding: 0;
  margin: 0;
}


.popover-color div.color-sel {
  width: 100%;
  height:120px ! important;
  overflow: hidden;
  margin-top:5px;
}

.popover-color ul.color-sel {
  list-style-type: none;
  list-style-position:inside;
  padding: 0;
  margin: 0;
}

.popover-color ul.color-sel > li {
  display: block;
  width: calc( 100% - 20px );
  height:25px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border:1px solid;
  border-color: #ccc;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  border-radius: 5px;
  color: transparent;
  text-align: center;
  line-height: 2.5;
  cursor: pointer;
  font-size: 10px
}

.popover-color ul.color-sel > .active {
  border: 1px solid #333;
}

